.navbar-pos {
    margin-top: 10vh;
}

.NavBar_text_techwondoe {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.menu-text-wrapper {
    min-width: 100px;
    padding-right: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-top: 1%;
}