.our-services {
    position: relative;
    margin-right: 10%;
    margin-left: 10%;
}

.grid-11 {
    margin-right: auto;
    margin-left: auto;
    -ms-grid-columns: 0.5fr 1fr;
    grid-template-columns: 0.5fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

#w-node-_1fa41dc1-9865-90aa-e0f7-538e937b185f-059e42a0 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.sub-small-title.text-align-centre-mobile {
    text-align: left;
}

.sub-small-title {
    font-family: proxima-nova, sans-serif;
    color: #f7f7f7;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.display-2.text-align-cenre-mobile {
    text-align: left;
}

.display-2 {
    color: #f7f7f7;
    text-align: left;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.display-2 {
    margin-top: 0;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: NeueMachina, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
}

.margin-50px {
    margin-top: 50px;
}

.list {
    padding-left: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0;
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px;
}

li {
    text-align: left;
    position: relative;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 30px;
    color: #f7f7f7;
    line-height: 30px;
    list-style-type: none;
    white-space: normal;
}

ul li:before {
    content: "↗";
    position: absolute;
    left: 0px;
    top: -1px;
    font-family: "NeueMachina";
    font-size: 26px;
    padding-right: 20px;
    background: linear-gradient(45deg, #F9D423, #FF4E50);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#w-node-_1fa41dc1-9865-90aa-e0f7-538e937b1879-059e42a0 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    position: relative;
    top: -12vh;
}

.image-4 {
    max-height: 100vh;
}

img {
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}

@media screen and (max-width: 479px) {
    .grid-11 {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 479px) {
    #w-node-_1fa41dc1-9865-90aa-e0f7-538e937b1879-059e42a0 {
        -ms-grid-column: span 1;
        grid-column-start: span 1;
        -ms-grid-column-span: 1;
        grid-column-end: span 1;
        -ms-grid-row: span 1;
        grid-row-start: span 1;
        -ms-grid-row-span: 1;
        grid-row-end: span 1;
    }
}

@media screen and (max-width: 479px) {
    .image-4 {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    .sub-small-title.text-align-centre-mobile {
        text-align: center;
    }
}

@media screen and (max-width: 479px) {
    .display-2.text-align-cenre-mobile {
        text-align: center;
    }
}

@media screen and (max-width: 479px) {
    .display-2 {
        font-size: 32px;
        line-height: 34px;
        text-align: center;
    }
}

@media screen and (max-width: 479px) {
    .text-gradient {
        font-size: 32px;
    }
}

@media screen and (max-width: 479px) {
    .home-our-services li {
        padding-left: 0px !important;
        text-align: center;
    }
}

@media screen and (max-width: 479px) {
    .button {
        text-align: center;
    }
}

@media screen and (max-width: 991px) {
    .margin-60px {
        margin-top: 30px;
    }
}

@media screen and (max-width: 479px) {

    ol,
    ul {
        margin-top: 0;
        margin-bottom: 10px;
        padding-left: 0px;
    }
}