body {
  margin: 0;
  font-family: 'neuemachina-regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: red;
}

@font-face {
  font-family: "neuemachina";
  src: local("neuemachina-regular"),
    url("./Fonts/Neue_Machina/neuemachina-regular.otf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}